.ProductosTv {
    text-decoration: none;
    color: beige;
    text-transform: uppercased;
    font-size: 20px;
    display: flex;
    text-shadow: 2px 2px 0 black;
    background-color: coral;
    align-items: center;
    justify-content: center;

    .Smart-TV {
        background-color: coral;
        padding: 0px 0px 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .SmartPhones {
            background-color: coral;
            padding: 0px 0px 5px 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            .NotebooksTitle {
                background-color: coral;
                padding: 0px 0px 5px 0px;
                display: flex;
                justify-content: center;
                align-items: center;

                .AiresTITLE {
                    background-color: coral;
                    padding: 0px 0px 5px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

#Celulares {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: overline underline;
    padding: 20px 0px 5px 175px;

    #AiresAcond {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: overline underline;
        padding: 20px 0px 5px 175px;

        #Notebooks {
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: overline underline;
            padding: 20px 0px 5px 175px;
        }
    }
}