* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.Lmv {
  color: rgb(0, 0, 0);
  size: 25px;
  padding: 1px 0px 1px 172px;
  font-family: Ubuntu, sans-serif;
}


.Hdos {
  color: white;
  padding: 1px 0px 1px 172px;
  size: 25px;
  font-family: Ubuntu, sans-serif;
}

li {
  display: inline;
  padding: 30px 5px;
  font-family: Ubuntu, sans-serif;
  text-decoration: none;
}

#Menu:hover {
  color: yellow
}

#MenuProduc:hover {
  color: yellow;
}

#MenuProduc {
  font-size: 22px;
}


ul {
  position: relative;
  display: flex;
  left: 0px;
  bottom: 30px;
}

a {
  text-decoration: none;
  color: beige;
  font-size: 20px;
  padding: 6px;
  font-family: Ubuntu, sans-serif;
}

header {
  background-color: #195DD7;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

body {
  background-color: #EFEFE9;
  width: 100%;
  height: 100%;

}

.banner1 {
  background-image: url(../asset/banner.png);
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido {
  display: flex;
}

i {
  font-size: 20px;
  font-family: Ubuntu, sans-serif;
}

.Productos {
  text-decoration: none;
  color: beige;
  text-transform: uppercased;
  font-size: 20px;
  text-shadow: 2px 2px 0 black;
  padding: 0px 0px 9px 155px;
  background-color: #195DD7;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  font-family: Ubuntu, sans-serif;
}

.container .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  font-family: Ubuntu, sans-serif;
}

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  font-family: Ubuntu, sans-serif;
}

.container .card img {
  width: 320px;
  height: 300px;
  font-family: Ubuntu, sans-serif;
}

.container .card h4 {
  font-weight: 600;
  font-family: Ubuntu, sans-serif;
}

.container .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  font-family: Ubuntu, sans-serif;
}

.container .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
  font-family: Ubuntu, sans-serif;
}

.ofertas-Tv {
  font-family: Ubuntu, sans-serif;
  padding: 0px 0px 0px 90px;
}

.ProductosTv {
  color: beige;
  font-size: 30px;
  display: flex;
  text-shadow: 2px 2px 0 black;
  background-color: #195DD7;
  align-items: center;
  justify-content: center;
  font-family: Ubuntu, sans-serif;
}

.Smart-TV {
  background-color: #195DD7;
  padding: 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu, sans-serif;
}

.ProductosMedio {
  font-family: Ubuntu, sans-serif;
  color: white;
  font-size: 40px;
  background-color: #195DD7;
  padding: 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu, sans-serif;
}

#Celulares {
  font-family: Ubuntu, sans-serif;
  padding: 20px 0px 5px 175px;
}


@media (min-width: 0px) and (max-width:1025px) {
  header {
    padding: 5px;
    background-color: #195DD7;
    display: flex;
    flex-wrap: wrap;
    
  }

  .Hdos {
    font-size: 15px;
    padding: 1px;
  }

  h1 {
    font-size: 15px;
    padding: 1px;
  }

  .Lmv {
    font-size: 15px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Productos {
    padding: 0px 0px 5px 10px;
  }

  a,
  li {
    font-size: 16px;
  }

  body,
  header,
  footer {
    width: auto;
  }

  body {
    margin: 0%
  }

  .Smart-TV {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .ofertas-Tv {
    padding: 5px 0px 5px 20px;
    font-size: 22px;

  }

  .ProductosTv {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;

  }

  #Celulares {
    padding: 10px 0px 10px 40px;
  }

}

@media (min-width: 0px) and (max-width:590px) {
  header {
    padding: 5px;
    background-color: #195DD7;
    display: flex;
    flex-wrap: wrap;
  }

  .logo{
   
  }

  .Hdos {
    font-size: 15px;
    padding: 1px;
  }

  h1 {
    font-size: 20px;
  }

  .Lmv {
    font-size: 15px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Productos {
    padding: 0px 0px 5px 10px;
  }

  a,
  li {
    font-size: 13px;
    padding: 40px 5px 0px 5px;
  }

  body,
  header,
  footer {
    width: auto;
    height: auto;
  }

  body {
    margin: 0%
  }

  .Smart-TV {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  .ofertas-Tv {
    padding: 5px 0px 5px 20px;

  }

  .ProductosTv {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;

  }
  .ProductosMedio{
    font-size: 20px;
  }

  #Celulares {
    padding: 10px 0px 10px 20px;
  }

  .container .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
  }
  
  .container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
  
  .container .card img {
    width: 100%;
    height: 300px;
  }
  
  .container .card h4 {
    font-weight: 600;
    font-family: Ubuntu, sans-serif;
  }
  
  .container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    font-family: Ubuntu, sans-serif;
  }
  
  .container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
  }

}

/*# sourceMappingURL=styles.css.map */